{% block footer %}
<footer>
        <div id="ligne1Footer">
            <a href="#">Mentions légales</a>
            <a href="#">FAQ</a>
            <a href="#">Cookie</a>
            <a href="#">Conditions d'utilisation</a>
            <a href="#">RSS</a>
            <a href="#">Confidentialité</a>
        </div>

        <div id="ligne2Footer">
            <a href="#">Charte des commentaires</a>
            <a href="#">A propos de nous</a>
            <a href="#">Nous contacter</a>
        </div>


        <div id="ligne3Footer">
            <p>@2017 PELLICULE - Tous droits réservés</p>
        </div>
</footer>
{% endblock %}